name: Build
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            build_type: MinSizeRel
            # Use -k to ignore SSL certificate issues
            install_script: |
              curl -k -L -o sqliteodbc.exe https://www.ch-werner.de/sqliteodbc/sqliteodbc_w64.exe
              start-process -Wait -FilePath .\sqliteodbc.exe -ArgumentList '/S'            

          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            build_type: MinSizeRel
            # sudo apt-get install -y ninja-build cmake g++ gdb
            install_script: |
              sudo apt-get update              
              sudo apt-get install -y sqlite3 libsqlite3-dev unixodbc unixodbc-dev libsqliteodbc
            

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies and SQLite ODBC driver
        shell: bash
        run: ${{ matrix.install_script }}

      - name: Set build directory
        id: paths
        shell: bash
        run: |
          echo "build-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.paths.outputs.build-dir }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ github.workspace }}

      - name: Build
        run: cmake --build ${{ steps.paths.outputs.build-dir }} --config ${{ matrix.build_type }}

      - name: Run tests
        working-directory: ${{ steps.paths.outputs.build-dir }}
        run: ctest --build-config ${{ matrix.build_type }} --output-on-failure